# Environments & Secrets
.env
.venv/
venv/
env/
**/.streamlit/secrets.toml

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Logs & Databases
logs/
airflow/logs/
*.log
*.sqlite3
*.db
*.bak

# Local Data Volumes
minio_data/
postgres_data/

# OS & IDEs
.vscode/
.idea/
.DS_Store